name: CI

on:
  push:
    branches: ["**"]
  pull_request:
  workflow_dispatch:

jobs:
  zig:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: master

      - name: Zig version
        run: zig version

      - name: Check formatting
        run: zig fmt . --check

      - name: Run tests
        run: zig build test --summary all

      - name: Run example
        run: zig build run-example
